.footer__column-link {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .3s linear;
}

.footer__column-link:hover {
  opacity: 0.7;
}
