.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-primary);
}

.feynman__link::after {
  content: ' \2192';
}
